## Build
build/

## npm / yarn
node_modules/
npm-debug.log*
npm.tar.gz
yarn-debug.log*
yarn-error.log*

## IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/
.attach_pid*
out/

## VSCode
.vscode/
*.code-workspace

## Mac OS X
.DS_Store

## SonarQube
.sonar/
.scannerwork/
